<div class="quiz">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="quiz-title">
                    <h1>Quiz Test</h1>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="quiz-ctg">
                    <h1>Categories</h1>
                </div>
            </div>
            
            <div class="row text-center mt-5">
                <div class="col-lg-4">
                    <div class="ctg-opt">
                        <button (click)="BankingQuestions() ">
                            <h3>Banking</h3>
                        </button>
                    </div>

                    <div class="ctg-opt mt-5">
                        <button (click)="FinancieQuestions()">
                            <h3>Financie</h3>
                        </button>
                    </div>
                </div>
                                
                <div class="col-lg-4">
                    <div class="ctg-opt">
                        <button (click)="BusinessQuestions()">
                            <h3>Business</h3>
                        </button>
                    </div>

                    <div class="ctg-opt mt-5">
                        <button (click)="PoliticalQuestions()">
                            <h3>Political</h3>
                        </button>
                    </div>
                </div>
                  
                <div class="col-lg-4">
                    <div class="ctg-opt">
                        <button (click)="NutureQuestions()">
                            <h3>Nuture</h3>
                        </button>
                    </div>

                    <div class="ctg-opt mt-5">
                        <button (click)="EconomicsQuestions()">
                            <h3>Economics</h3>
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>